In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import re
import sys

In [3]:
sys.path.insert(0,'../code')
import objects

In [4]:
df_projects = pd.read_csv(
    objects.PROJECTS_LIST,
    encoding=objects.ENCODING
)

In [5]:
df_projects.head()

,Project Id,Region,Country,Project Status,Project Name,Project Development Objective,Implementing Agency,Consultant Services Required,Project URL,Board Approval Date,...,Grant Amount,Borrower,Lending Instrument,Environmental Assessment Category,Environmental and Social Risk,Sector 1,Sector 2,Sector 3,Theme 1,Theme 2
0,P170658,Latin America and Caribbean,Republic of Peru,Active,CENTRALIZED EMERGENCY RESPONSE SYSTEM PROJECT,The proposed project development objective is ...,Programa Nacional de Telecomunicaciones (PRONA...,NaN,https://projects.worldbank.org/en/projects-ope...,2020-04-07T00:00:00Z,...,NaN,Republic of Peru,Investment Project Financing,NaN,Moderate,Public Administration - Information and Commun...,Other Public Administration,ICT Infrastructure,NaN,NaN
1,P168779,Western and Central Africa,Republic of Niger,Active,Niger Learning Improvement for Results in Educ...,To improve the quality of teaching and learnin...,Ministry of National Education,NaN,https://projects.worldbank.org/en/projects-ope...,2020-04-06T00:00:00Z,...,NaN,Ministry of Planning,Investment Project Financing,NaN,Moderate,Secondary Education,Primary Education,Public Administration - Education,NaN,NaN
2,P169196,Eastern and Southern Africa,Democratic Republic of Sao Tome and Prin,Active,Power Sector Recovery Project Additional Finan...,The project development objectives are to (i) ...,Agencia Fiduciaria de Administracao de Projeto...,No,https://projects.worldbank.org/en/projects-ope...,2020-04-06T00:00:00Z,...,NaN,Ministry of Finance and Public Adminstration,Investment Project Financing,NaN,NaN,Renewable Energy Hydro,Energy Transmission and Distribution,NaN,NaN,NaN
3,P173817,East Asia and Pacific,Lao People's Democratic Republic,Active,Lao PDR COVID-19 Response Project,To respond to the COVID-19 outbreak and streng...,Ministry of Health,TBD,https://projects.worldbank.org/en/projects-ope...,2020-04-06T00:00:00Z,...,"5,000,000",Ministry of Finance,Investment Project Financing,NaN,Substantial,Public Administration - Health,Health Facilities and Construction,Health,NaN,NaN
4,P173757,South Asia,People's Republic of Bangladesh,Active,Bangladesh: COVID-19 Emergency Response and Pa...,To support the Government of Bangladesh to pre...,"Ministry of Health and Family Welfare, Public ...",No,https://projects.worldbank.org/en/projects-ope...,2020-04-03T00:00:00Z,...,"100,000,000",People's Republic of Bangladesh,Investment Project Financing,NaN,Substantial,Health,Health Facilities and Construction,Public Administration - Health,NaN,NaN

In [6]:
df_PADs = pd.read_csv(
    objects.TXT_URL_FILE,
    encoding=objects.ENCODING
)

In [7]:
df_PADs.head()

,doi,project,pad-txt-url
0,486071652556836130,JO-Emergency Food Security Project-2155524 -- ...,http://documents1.worldbank.org/curated/en/486...
1,694581613746244647,DO-Dominican Republic Emissions Reduction Prog...,http://documents1.worldbank.org/curated/en/694...
2,785341488423723724,AR-Integrated Habitat And Housing Project -- P...,http://documents1.worldbank.org/curated/en/785...
3,653361468025440292,EG-Egypt: Sustainable Pops Management Project ...,http://documents1.worldbank.org/curated/en/653...
4,104231468184784027,TZ-Rural Electrification Expansion Program -- ...,http://documents1.worldbank.org/curated/en/104...

In [8]:
def get_id(string):
    
    id_pattern = re.compile('P[0-9]{6}')
    result = id_pattern.search(string)
    
    if result:
        return result.group(0)
    else:
        return ''

In [9]:
df_PADs['project_ID'] = df_PADs['project'].apply(get_id)

In [10]:
df_PADs

,doi,project,pad-txt-url,project_ID
0,486071652556836130,JO-Emergency Food Security Project-2155524 -- ...,http://documents1.worldbank.org/curated/en/486...,P178936
1,694581613746244647,DO-Dominican Republic Emissions Reduction Prog...,http://documents1.worldbank.org/curated/en/694...,P161182
2,785341488423723724,AR-Integrated Habitat And Housing Project -- P...,http://documents1.worldbank.org/curated/en/785...,P159929
3,653361468025440292,EG-Egypt: Sustainable Pops Management Project ...,http://documents1.worldbank.org/curated/en/653...,P116230
4,104231468184784027,TZ-Rural Electrification Expansion Program -- ...,http://documents1.worldbank.org/curated/en/104...,P153781
...,...,...,...,...
2861,812271612857937655,GH-Ghana Emissions Reductions Program-1480116 ...,http://documents1.worldbank.org/curated/en/812...,P160339
2862,500691468273333320,KE-National Safety Net Program For Results -- ...,http://documents1.worldbank.org/curated/en/500...,P131305
2863,830231610352453182,TN-Tunisia Covid-19 Response Project -- P173945,http://documents1.worldbank.org/curated/en/830...,P173945
2864,758211576292496544,IN-West Bengal Major Irrigation And Flood Mana...,http://documents1.worldbank.org/curated/en/758...,P162679
2865,648751617501700816,IN-Mizoram Health Systems Strengthening Projec...,http://documents1.worldbank.org/curated/en/648...,P173958

In [11]:
df = df_projects.merge(
    df_PADs,
    how='left',
    left_on='Project Id',
    right_on='project_ID',
    indicator=True
)

In [12]:
df['_merge'].value_counts()

left_only     2753
both          2535
right_only       0
Name: _merge, dtype: int64

In [13]:
df_pad_contents = pd.read_csv('../data/intermediate/PADs_content.csv')

In [14]:
len(df_pad_contents)

2701

In [15]:
df_pad_contents

                     doi                                        pad_content
0     100031488423742335                                                ...
1     100511540357097712  ï»¿                                             ...
2     101031515046613675  ï»¿                                      â€«ÙˆØ«ÙŠÙ‚Ø© ...
3     101791620007282466                                           FOR O...
4     102181545015798577                                           FOR O...
...                  ...                                                ...
2696  998771554170601111                                                ...
2697  998951468170349325  ï»¿                                             ...
2698  999501655913368938                                            FOR ...
2699  999811526304945905                                                ...
2700  999961468051248491                                                ...

[2701 rows x 2 columns]

In [16]:
def is_pad(string):
    
    id_pattern = re.compile(r'PROJECT(?: |\xa0)+APPRAISAL(?: |\xa0)+DOCUMENT')
    result = id_pattern.search(string)
    
    if result:
        return True
    else:
        return False

In [17]:
df_pad_contents['is_pad'] = df_pad_contents['pad_content'].apply(is_pad)

In [18]:
def clean(string):
    
    string = re.sub('\n.*[pP]age [0-9i]{1,3} of [0-9]{0,3}', '\n', string)
    string = re.sub('\xa0', ' ', string)
    string = re.sub('\x0c +The World Bank', '\n', string)
    string = re.sub('\n\s+\n', '\n\n', string)
    string = re.sub('\n+', '\n', string)
    string = string.lower()
    
    return string

In [19]:
def components(string):
    
    pattern = re.compile('component name\s+cost[\s\S]+$')
    string2 = pattern.search(string)
    
    if string2:
        lines = string2.group(0).splitlines()[1:]
        comps = []
        counter = 0
        limit = 3
        skip = []
        
        for i, line in enumerate(lines):
            
            line = line.strip()
            
            if line == 'organizations':
                break
            if i in skip:
                continue
                
            pattern = re.compile(r'^\S[\s\S]+\S\s+(?:(?:us\$)|(?:usd)|(?:\$)){0,1}[0-9,.]{0,13}[0-9]$')
            match = pattern.search(line)

            if match:
                comps.append(match.group(0))
                counter = 0
            else:
                match2 = pattern.search(lines[i+1].strip())
                match3 = pattern.search(lines[i+2].strip())
                
                if not match2 and not match3:
                
                    line = line + ' ' + lines[i+2].strip() + lines[i+1]
                    match = pattern.search(line)

                    if match:
                        comps.append(match.group(0))
                        counter = 0
                        skip += [i+1, i+2]
                    else:                
                        counter += 1
                        if counter >= limit:
                            break
        
        return comps
        
    else:
        return []

In [20]:
df_pad_contents['components'] = df_pad_contents['pad_content'].apply(lambda x: components(clean(x)))

PADs from which we didn't extract components and contain the words "PROJECT APPRAISAL DOCUMENTS":

In [21]:
no_components = df_pad_contents[(df_pad_contents['is_pad']==True) & (~df_pad_contents['components'].astype(bool))]
no_components

,doi,pad_content,is_pad,components
38,114511621491387556,FOR OF...,True,[]
53,119081468010202572,ï»¿Document of\n\nThe World Bank\n\nFOR OFFICIAL...,True,[]
83,131181617390170420,ï»¿ FOR O...,True,[]
133,149061468191334165,Docum...,True,[]
135,149821468104643491,Document of\...,True,[]
...,...,...,...,...
2680,992641468012618926,ï»¿Document of\n\nThe World Bank\n\nFOR OFFICIAL...,True,[]
2682,993371585947965984,FOR OFF...,True,[]
2683,993381482462216700,Docum...,True,[]
2690,996211468205172886,ï»¿ Docu...,True,[]
2693,997461468285892289,ï»¿ Doc...,True,[]

In [22]:
len(no_components)

126

PADs from which we extracted components:

In [23]:
extracted = df_pad_contents['components'].astype(bool).sum()
print('Components extracted from {} PADs'.format(extracted))
print('{}% of total'.format(round(extracted/len(df_pad_contents)*100)))

Components extracted from 2133 PADs
79% of total

In [24]:
def split_component(string):
    
    name_pattern = re.compile(r'(^\S[\s\S]+\S)\s+')
    name = name_pattern.search(string).group(1)
    
    amount_pattern = re.compile(r'(?:(?:us\$)|(?:usd)|(?:\$)){0,1}[0-9,.]{0,13}[0-9]$')
    amount = amount_pattern.search(string).group(0)
    
    return name, amount

In [25]:
df_components = pd.DataFrame(columns=['doi', 'component', 'raw_amount'])
df_temp = df_pad_contents[df_pad_contents['components'].astype(bool)]
bad_names = [
    'total',
    'vat',
    'sub-total',
    'subtotal',
    'sub-total without vat',
    'page',
    'ida'
]

for i in range(len(df_temp)):
    
    doi = df_temp['doi'].iloc[i]
    raw_components = df_temp['components'].iloc[i]
    for comp in raw_components:
        name, amount = split_component(comp)
        if name in bad_names:
            continue
        if amount == '2020':
            continue
        df_components.loc[len(df_components)] = [doi, name, amount]

In [26]:
df_components

,doi,component,raw_amount
0,100031488423742335,urban and social integration of barrio 31 in caba,194.57
1,100031488423742335,habitat improvement of disadvantaged neighborh...,36.30
2,100031488423742335,strenghtening institutional capacities for met...,3.00
3,100031488423742335,project management and monitoring â€“ caba,7.00
4,100031488423742335,project management and monitoring â€“ pba,1.12
...,...,...,...
7594,999811526304945905,enhancing rural connectivity,45.00
7595,999811526304945905,improving resilience of transport connecting i...,22.00
7596,999811526304945905,promoting sustainable mobility development,3.00
7597,999811526304945905,contingent emergency response,1.00
7598,999811526304945905,project management,4.00

In [27]:
def clean_amount(string):
    
    # manually correcting one exception:
    if string == '289.89.00':
        string = '289.89'
    
    pattern = re.compile(r',[0-9]{2}$')
    match = pattern.search(string)
    if match:
        string_list = list(string)
        string_list[-3] = '.'
        string = ''.join(string_list)
    
    string = re.sub('[^0-9.]', '', string)
    amount = float(string)    
    
    if amount >= 1_000_000:
        amount = amount / 1_000_000
    
    
    return amount

In [28]:
def clean_amount2(string):
    
    # manually correcting one exception:
    if string == '289.89.00':
        string = '289.89'
    
    pattern = re.compile(r',[0-9]{2}$')
    match = pattern.search(string)
    if match:
        string_list = list(string)
        string_list[-3] = '.'
        string = ''.join(string_list)
    
    string = re.sub('[^0-9.]', '', string)
    amount = float(string)    
    
    return amount

In [29]:
df_components['amount'] = df_components['raw_amount'].apply(clean_amount)
df_components['amount_for_percentage'] = df_components['raw_amount'].apply(clean_amount2)

In [30]:
df_components

,doi,component,raw_amount,amount,amount_for_percentage
0,100031488423742335,urban and social integration of barrio 31 in caba,194.57,194.57,194.57
1,100031488423742335,habitat improvement of disadvantaged neighborh...,36.30,36.30,36.30
2,100031488423742335,strenghtening institutional capacities for met...,3.00,3.00,3.00
3,100031488423742335,project management and monitoring â€“ caba,7.00,7.00,7.00
4,100031488423742335,project management and monitoring â€“ pba,1.12,1.12,1.12
...,...,...,...,...,...
7594,999811526304945905,enhancing rural connectivity,45.00,45.00,45.00
7595,999811526304945905,improving resilience of transport connecting i...,22.00,22.00,22.00
7596,999811526304945905,promoting sustainable mobility development,3.00,3.00,3.00
7597,999811526304945905,contingent emergency response,1.00,1.00,1.00
7598,999811526304945905,project management,4.00,4.00,4.00

In [31]:
def monitoring_or_eval(component):
    
    if 'monitoring' in component:
        return 1
    elif 'evaluation' in component:
        return 1
    elif 'm&e' in component:
        return 1
    else:
        return 0

In [32]:
df_components['m_or_e'] = df_components['component'].apply(monitoring_or_eval)

In [33]:
df_components['m_or_e'].value_counts()

0    7031
1     568
Name: m_or_e, dtype: int64

In [34]:
df_components[df_components['m_or_e']==1][['doi', 'component', 'amount']].sort_values('amount')[-20:]

,doi,component,amount
6203,852041624650615581,"3: enhancing project management, results monit...",44.00
7507,989811621908404238,"component 3: capacity development, project man...",45.00
1500,283531621908345380,"component c: project management, monitoring an...",46.00
5037,705151559613734813,"capacity building through partnerships, projec...",50.00
1139,238711617069817754,strengthening governance to improve efficiency...,55.50
1884,322411468010216105,component 1 - maintenance works and monitoring,56.39
6117,840701467996680631,"component 1: enhancing monitoring, analytics, ...",56.40
3150,466861585949433867,"component 5: implementation management, capaci...",60.00
1538,287411468026947887,"project management, capacity building and moni...",62.80
7193,954111490207555730,water resources monitoring system,150.00
4084,583011468268510722,ii. strengthening monitoring and evaluation...,4913.00
2985,446721585950465326,component 3. implementation management and mon...,200000.00
1768,308161489034968447,"component 4: project implementation, monitorin...",279500.00
599,179901586986023679,component 3. implementation management and mon...,350000.00
2161,353011587944635065,component 2. implementation management and mon...,400000.00
3494,507581625968850128,component 3: project management and monitoring,427971.00
3968,568831609126863176,component 2. implementation management and m&e,500000.00
7563,993961656602367244,"support for management systems, monitoring and...",500000.00
334,146081590787222881,project implementation and monitoring,600000.00
145,119521590530378972,component 2: project implementation and monito...,825000.00

Some M&E components have very large amounts. I'll replace them with NAs, they are probably mistakes

In [35]:
df_components.loc[df_components['amount']>1000, 'amount'] = np.nan

In [36]:
df_components

,doi,component,raw_amount,amount,amount_for_percentage,m_or_e
0,100031488423742335,urban and social integration of barrio 31 in caba,194.57,194.57,194.57,0
1,100031488423742335,habitat improvement of disadvantaged neighborh...,36.30,36.30,36.30,0
2,100031488423742335,strenghtening institutional capacities for met...,3.00,3.00,3.00,0
3,100031488423742335,project management and monitoring â€“ caba,7.00,7.00,7.00,1
4,100031488423742335,project management and monitoring â€“ pba,1.12,1.12,1.12,1
...,...,...,...,...,...,...
7594,999811526304945905,enhancing rural connectivity,45.00,45.00,45.00,0
7595,999811526304945905,improving resilience of transport connecting i...,22.00,22.00,22.00,0
7596,999811526304945905,promoting sustainable mobility development,3.00,3.00,3.00,0
7597,999811526304945905,contingent emergency response,1.00,1.00,1.00,0
7598,999811526304945905,project management,4.00,4.00,4.00,0

In [37]:
df_components.loc[df_components['m_or_e']==1, 'm_or_e_amount'] = df_components['amount']
df_components.loc[df_components['m_or_e']==0, 'm_or_e_amount'] = 0

In [38]:
df_components.loc[df_components['m_or_e']==1, 'm_or_e_amount_for_percentage'] = df_components['amount_for_percentage']
df_components.loc[df_components['m_or_e']==0, 'm_or_e_amount_for_percentage'] = 0

In [39]:
df_components

,doi,component,raw_amount,amount,amount_for_percentage,m_or_e,m_or_e_amount,m_or_e_amount_for_percentage
0,100031488423742335,urban and social integration of barrio 31 in caba,194.57,194.57,194.57,0,0.00,0.00
1,100031488423742335,habitat improvement of disadvantaged neighborh...,36.30,36.30,36.30,0,0.00,0.00
2,100031488423742335,strenghtening institutional capacities for met...,3.00,3.00,3.00,0,0.00,0.00
3,100031488423742335,project management and monitoring â€“ caba,7.00,7.00,7.00,1,7.00,7.00
4,100031488423742335,project management and monitoring â€“ pba,1.12,1.12,1.12,1,1.12,1.12
...,...,...,...,...,...,...,...,...
7594,999811526304945905,enhancing rural connectivity,45.00,45.00,45.00,0,0.00,0.00
7595,999811526304945905,improving resilience of transport connecting i...,22.00,22.00,22.00,0,0.00,0.00
7596,999811526304945905,promoting sustainable mobility development,3.00,3.00,3.00,0,0.00,0.00
7597,999811526304945905,contingent emergency response,1.00,1.00,1.00,0,0.00,0.00
7598,999811526304945905,project management,4.00,4.00,4.00,0,0.00,0.00

In [40]:
keep = ['doi', 'amount', 'amount_for_percentage', 'm_or_e', 'm_or_e_amount', 'm_or_e_amount_for_percentage']
df_doi = df_components[keep].groupby('doi').agg({'amount': 'sum',
                                                 'amount_for_percentage': 'sum',
                                                 'm_or_e': 'max',
                                                 'm_or_e_amount': 'sum',
                                                 'm_or_e_amount_for_percentage': 'sum'})
df_doi = df_doi.reset_index()
df_doi

,doi,amount,amount_for_percentage,m_or_e,m_or_e_amount,m_or_e_amount_for_percentage
0,100031488423742335,242.49,242.49,1,8.12,8.12
1,101791620007282466,121.07,121.07,0,0.00,0.00
2,102181545015798577,10.00,10.00,0,0.00,0.00
3,102351653594346005,132.00,132.00,0,0.00,0.00
4,102411582426829403,69.90,69.90,0,0.00,0.00
...,...,...,...,...,...,...
2128,996871495728315670,12.00,12.00,1,0.64,0.64
2129,997491590804160101,170.00,170.00,1,21.30,21.30
2130,997801574719355577,58.12,58120000.00,0,0.00,0.00
2131,999501655913368938,873.60,873.60,0,0.00,0.00
2132,999811526304945905,75.00,75.00,0,0.00,0.00

Merging with initial list of PADs, by doi:

In [41]:
df2 = df_PADs.merge(df_doi, on='doi', how='outer', indicator=True)

In [42]:
df2['_merge'].value_counts()

both          2133
left_only      733
right_only       0
Name: _merge, dtype: int64

The PADs only in the left dataset are PADs in other languages or that weren't available to download

In [43]:
drop = ['project', 'pad-txt-url', '_merge']
df2 = df2.drop(columns=drop)

In [44]:
df2.head()

,doi,project_ID,amount,amount_for_percentage,m_or_e,m_or_e_amount,m_or_e_amount_for_percentage
0,486071652556836130,P178936,490.0,490.0,0.0,0.0,0.0
1,694581613746244647,P161182,25.0,25.0,0.0,0.0,0.0
2,785341488423723724,P159929,206.0,206.0,0.0,0.0,0.0
3,653361468025440292,P116230,8.1,8.1,0.0,0.0,0.0
4,104231468184784027,P153781,NaN,NaN,NaN,NaN,NaN

In [45]:
len(df2)

2866

In [46]:
len(df2['doi'].unique())

2866

In [47]:
len(df2['project_ID'].unique())

2444

In [48]:
df2['pad_repeated'] = df2.duplicated(subset=['project_ID'], keep=False)

In [49]:
df2 = df2.sort_values('project_ID').reset_index(drop=True)
df2

,doi,project_ID,amount,amount_for_percentage,m_or_e,m_or_e_amount,m_or_e_amount_for_percentage,pad_repeated
0,99549505102215016,,NaN,NaN,NaN,NaN,NaN,True
1,245801608346893390,,NaN,NaN,NaN,NaN,NaN,True
2,477011468037548038,,600.0,600.0,0.0,0.0,0.0,True
3,182021468325215024,,NaN,NaN,NaN,NaN,NaN,True
4,313911468346152573,,40.0,40.0,0.0,0.0,0.0,True
...,...,...,...,...,...,...,...,...
2861,486071652556836130,P178936,490.0,490.0,0.0,0.0,0.0,False
2862,676871659410303141,P178946,0.2,1492.0,0.0,0.0,0.0,False
2863,578981656370686367,P178992,30.0,30.0,0.0,0.0,0.0,False
2864,334671656371769842,P179010,130.0,130.0,0.0,0.0,0.0,False
2865,960171499479277244,P252350,NaN,NaN,NaN,NaN,NaN,False

Ho many PADs with empty project IDs? We'll drop them from the df

In [50]:
(df2['project_ID']=='').sum()

131

In [51]:
df2 = df2[df2['project_ID']!=''].reset_index(drop=True)
df2

,doi,project_ID,amount,amount_for_percentage,m_or_e,m_or_e_amount,m_or_e_amount_for_percentage,pad_repeated
0,542031468340155638,P010882,NaN,NaN,NaN,NaN,NaN,False
1,563281468204538380,P075941,468.60,468.60,0.0,0.0,0.0,False
2,358821468023422634,P085621,63.87,63.87,1.0,9.6,9.6,True
3,132071468023423083,P085621,NaN,NaN,NaN,NaN,NaN,True
4,917891468272048966,P086592,343.00,343.00,0.0,0.0,0.0,False
...,...,...,...,...,...,...,...,...
2730,486071652556836130,P178936,490.00,490.00,0.0,0.0,0.0,False
2731,676871659410303141,P178946,0.20,1492.00,0.0,0.0,0.0,False
2732,578981656370686367,P178992,30.00,30.00,0.0,0.0,0.0,False
2733,334671656371769842,P179010,130.00,130.00,0.0,0.0,0.0,False
2734,960171499479277244,P252350,NaN,NaN,NaN,NaN,NaN,False

In [52]:
df2.loc[df2['amount'].isna(), 'pad_available'] = False
df2.loc[df2['amount'].notna(), 'pad_available'] = True

In [53]:
df2['pad_available'].value_counts()

True     2083
False     652
Name: pad_available, dtype: int64

In [54]:
len(df2)

2735

Dropping obs of PAD not available and PAD repeated in the same project

In [55]:
df2 = df2[~((df2['pad_repeated']==True) & (df2['pad_available']==False))]

In [56]:
len(df2)

2427

Dropping obs of PAD with no M&E and PAD repeated in the same project

In [57]:
df2['pad_repeated'] = df2.duplicated(subset=['project_ID'], keep=False)

C:\Users\wb532468\AppData\Local\Temp/ipykernel_25148/2527472722.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['pad_repeated'] = df2.duplicated(subset=['project_ID'], keep=False)

In [58]:
df2 = df2[~((df2['pad_repeated']==True) & (df2['m_or_e']==0))]

In [59]:
len(df2)

2423

If there are still PADs for the same project, we keep the last obs by DOI (perhaps this is the most recent?)

In [60]:
df2 = df2.sort_values(['project_ID', 'doi'])
df2 = df2[~df2.duplicated(subset='project_ID', keep='last')]
df2 = df2.drop(columns='pad_repeated').reset_index(drop=True)

In [61]:
len(df2)

2397

In [62]:
df2

,doi,project_ID,amount,amount_for_percentage,m_or_e,m_or_e_amount,m_or_e_amount_for_percentage,pad_available
0,542031468340155638,P010882,NaN,NaN,NaN,NaN,NaN,False
1,563281468204538380,P075941,468.60,468.60,0.0,0.0,0.0,True
2,358821468023422634,P085621,63.87,63.87,1.0,9.6,9.6,True
3,917891468272048966,P086592,343.00,343.00,0.0,0.0,0.0,True
4,204411467992765070,P094183,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...
2392,486071652556836130,P178936,490.00,490.00,0.0,0.0,0.0,True
2393,676871659410303141,P178946,0.20,1492.00,0.0,0.0,0.0,True
2394,578981656370686367,P178992,30.00,30.00,0.0,0.0,0.0,True
2395,334671656371769842,P179010,130.00,130.00,0.0,0.0,0.0,True
2396,960171499479277244,P252350,NaN,NaN,NaN,NaN,NaN,False

In [63]:
df_projects = df_projects.rename(columns={'Project Id': 'project_ID'})

In [64]:
df3 = df2.merge(df_projects['project_ID'], on='project_ID', how='right',indicator=True)
df3

,doi,project_ID,amount,amount_for_percentage,m_or_e,m_or_e_amount,m_or_e_amount_for_percentage,pad_available,_merge
0,3.970916e+17,P170658,44.941,45083000.0,0.0,0.00,0.00,True,both
1,4.136416e+17,P168779,140.000,140.0,0.0,0.00,0.00,True,both
2,NaN,P169196,NaN,NaN,NaN,NaN,NaN,NaN,right_only
3,6.423616e+17,P173817,18.000,18.0,1.0,1.50,1.50,True,both
4,5.268716e+17,P173757,100.000,100.0,1.0,3.00,3.00,True,both
...,...,...,...,...,...,...,...,...,...
4993,6.354716e+17,P173816,25.800,25.8,1.0,2.00,2.00,True,both
4994,7.493016e+17,P173845,5.000,5.0,1.0,0.25,0.25,True,both
4995,5.873916e+17,P173812,7.500,7.5,1.0,0.75,0.75,True,both
4996,NaN,P171440,NaN,NaN,NaN,NaN,NaN,NaN,right_only
4997,1.799016e+17,P173855,13.900,14250000.0,1.0,0.00,350000.00,True,both

In [65]:
df3['_merge'].value_counts()

right_only    2799
both          2199
left_only        0
Name: _merge, dtype: int64

Calculating % of budget for M&E:

In [66]:
df3.loc[df3['m_or_e']==1, 'm_or_e_percentage'] = df3['m_or_e_amount_for_percentage'] / df3['amount_for_percentage'] *100

In [67]:
df3

,doi,project_ID,amount,amount_for_percentage,m_or_e,m_or_e_amount,m_or_e_amount_for_percentage,pad_available,_merge,m_or_e_percentage
0,3.970916e+17,P170658,44.941,45083000.0,0.0,0.00,0.00,True,both,NaN
1,4.136416e+17,P168779,140.000,140.0,0.0,0.00,0.00,True,both,NaN
2,NaN,P169196,NaN,NaN,NaN,NaN,NaN,NaN,right_only,NaN
3,6.423616e+17,P173817,18.000,18.0,1.0,1.50,1.50,True,both,8.333333
4,5.268716e+17,P173757,100.000,100.0,1.0,3.00,3.00,True,both,3.000000
...,...,...,...,...,...,...,...,...,...,...
4993,6.354716e+17,P173816,25.800,25.8,1.0,2.00,2.00,True,both,7.751938
4994,7.493016e+17,P173845,5.000,5.0,1.0,0.25,0.25,True,both,5.000000
4995,5.873916e+17,P173812,7.500,7.5,1.0,0.75,0.75,True,both,10.000000
4996,NaN,P171440,NaN,NaN,NaN,NaN,NaN,NaN,right_only,NaN
4997,1.799016e+17,P173855,13.900,14250000.0,1.0,0.00,350000.00,True,both,2.456140

In [68]:
df3['m_or_e_percentage'].describe()

count    467.000000
mean       9.777837
std       10.008751
min        0.066667
25%        4.373913
50%        7.727273
75%       11.957624
max      100.000000
Name: m_or_e_percentage, dtype: float64

# Results

Continue:
- total projects in 2012-2021
- projects with a PAD
- projects with a PAD in English and downloadable
- calculate n of projects with an M&E first level component
- calculate average amount by project of components with M&E
- calculate average % of project budget that goes to M&E

In [69]:
total_projects = len(df_projects)
projects_with_pad = len(df[df['_merge']=='both']['project_ID'].unique())
pads_available = (df3['pad_available']==True).sum()
projects_m_or_e = (df3['m_or_e']==1).sum()
average_m_or_e = df3[df3['m_or_e']==1]['m_or_e_amount'].mean()
average_perc_m_or_e = df3[df3['m_or_e']==1]['m_or_e_percentage'].mean()

print('- Number of projects between 2012-2021: {}'.format(total_projects))
print('- Projects with a PAD: {} ({}%)'.format(projects_with_pad, round(projects_with_pad/total_projects*100)))
print('- Projects with a PAD in English and available to download: {} ({}%)'.format(pads_available, round(pads_available/total_projects*100)))
print('- Projects with a PAD with a first-level component that contains the word M or E: {} ({}%)'.format(projects_m_or_e, round(projects_m_or_e/total_projects*100)))
print('- Average amount of components that contain the word M or E: {} millions USD'.format(round(average_m_or_e, 2)))
print('- Average percentage of budget dedicated to components that contain the word M or E: {}%'.format(round(average_perc_m_or_e, 1)))

- Number of projects between 2012-2021: 4998
- Projects with a PAD: 2245 (45%)
- Projects with a PAD in English and available to download: 1879 (38%)
- Projects with a PAD with a first-level component that contains the word M or E: 468 (9%)
- Average amount of components that contain the word M or E: 6.86 millions USD
- Average percentage of budget dedicated to components that contain the word M or E: 9.8%